header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.init {
    color: #3F51B5;
    font-size: 25px;
    font-weight: bolder;
    
}

p {
    margin-top: 10px;
    color: rgb(52, 52, 220);
    display: flex;
    font-size: 1.2em;
    
}

.title-group{
    padding-left: 15px;
    
}

.title-group i {
    padding-right: 3px;
}

.title-second {
    color: rgb(68, 68, 68);
}

